.media[b-kuqh2twvc6] {
    display: flex;
    align-items: center; /* Align items vertically center */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    margin-bottom: 20px; /* Add some spacing below the media block */
}

.media-img-wrapper[b-kuqh2twvc6] {
    flex: 0 0 auto; /* Prevent the image wrapper from stretching */
    max-width: 500px;
    max-height: 500px;
    margin-right: 20px; /* Add space between image and text */
}

.media-img[b-kuqh2twvc6] {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    display: block;
    margin: 0;
}
.original-price[b-kuqh2twvc6] {
    text-decoration: line-through;
}

.media-body[b-kuqh2twvc6] {
    flex: 1; /* Allow the text content to fill the remaining space */
    max-width: calc(100% - 520px); /* Adjust width based on image size */
}

@media (max-width: 1023.98px) {
    .media[b-kuqh2twvc6] {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start */
    }

    .media-img-wrapper[b-kuqh2twvc6],
    .media-body[b-kuqh2twvc6] {
        max-width: 100%;
        margin-right: 0; /* Remove right margin for image */
    }
}
